.pokemon-list-wrapper{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.pokemon-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
}
/* Small Devices (Tablets) */
@media (max-width: 576px){
    /* Styles for tablets */
    .pokemon-wrapper{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
  }

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.controls button:first-child{
    border-radius: 20px 0px 0px 20px;
}
.controls button:nth-child(2){
    border-radius: 0px 20px 20px 0px;
}
.controls button{
    margin-top: 1rem;
   padding: 5px 20px;
   transition: 0.5s;
}
.controls button:hover{
    background: greenyellow;
    transform: scaleX(1.2);
    cursor: pointer;
}