.outer-pokedex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pokedex-heading {
  margin: 0 auto;
  letter-spacing: 5px;
  font-family: Poppins;
  background: #8bdb13;
  border-radius: 2rem;
  padding: 2px 20px;
}
#pokedex-heading:hover{
  background: #9cf01e;
}

a:hover{
  color: #157028;
}
a:visited {
  color: #14006e;
}
a{
  text-decoration: none;
}